/**
 * Created by HP-Offline on 7/2/2015.
 */

h3{

    margin: -25px -25px 16px;
    line-height: 15px;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
    text-align: center;
}
#Signform{
    position: fixed;
    /* background-color: darkgreen;*/
    background-color: darkgreen;
    height: 300px;
    width: 400px;
    z-index: 50;
    left: 35%;
    top:25%;
    border-radius: 7px;


}
#SignINform{
    margin:7px;
    color: #ffffff;
    padding: 50px 50px;
}
#username , #password{
    font-size: 18px;
}

#login_dropdown_username, #wide_password{
    border-radius:5px ;
    height: 35px;
    width: 250px;
    font-size: 18px;
}
#submit{
    font-size: 18px;
    width: 80px;
    height: 45px;
    border-radius: 5px;
    color:#ffffff;
    /*background-color: rgba(86, 145, 255, 0.93);
    border:solid rgba(86, 145, 255, 0.93);*/
    background-color: rgba(86, 145, 255, 0.93);
    border:solid rgba(86, 145, 255, 0.93);
    cursor: pointer;
}
#submit:hover{
    color: yellow;
}
#forgetpass{
    font-size: 18px;
    cursor: pointer;
}
#forgetpass:hover{
    color: yellow;
}