/*
Theme Name: Peekaboo
Theme URL: http://themeforest.net/user/population2/
Author: Population2
Version: 1.0
*/

/*@import url("./colorbox.css"); /*  Import Colorbox style */


/*  The following reset is Erik Meyer CSS Reset
http://meyerweb.com/eric/tools/css/reset/         */
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
body { line-height:1;
}
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:none; }
:focus { outline:0; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }*/



/*------------------------------------------------------------------

1.	GLOBAL

------------------------------------------------------------------*/
 
 
/*-------------------------------
Basic elements
-------------------------------*/


body {
overflow: scroll;
   /*Needed to eliminate scrollbars*/
    margin: 0;
    font: 14px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif ;
    /*background: url('../img/WebBackground.png');
    background-repeat: no-repeat;*/
}


.background {
    background-image: url('../img/WebBackground.png');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:0;
}

#firstFooter {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #164316 ;
    width: 100%;
    height: 47px;
    z-index: 1;
}

#menu{
    position: absolute;
    left: 80px;
    top:7px;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;

}

#FileMenu{
    position: absolute;
    color: yellow;
    font-size: 20px;
    cursor: pointer;
    top: 5px;
    left: 5px;

    text-align: center;
}
#FileMenu:hover{
   /* background-color: darkgreen;*/
    color: #ffffff;
}

#FileOption{
    position: absolute;
    top: 40px;
    left: 0px;
    width: 250px;
    height: 120px;
    background-color: #164316;
    z-index: 50;
    display: none;

}
#New , #Save , #Load{
     cursor: pointer;
    margin: 9px;
    padding-top: 8px;
    color: yellow;

}
#New:hover , #Save:hover , #Load:hover{
    background-color: darkgreen;

}
#loadPopUp{
    position: absolute;
    width: 300px;
    height: 150px;
   /* width: 30%;
    height: 25%;*/
  /* top: 300px;
    left: 600px;*/
  /*  left: 10%;*/

   /* height: 25%;
    width: 25%;*/
    top:35%;
    left:35%;
    z-index: 500;
    background-color:  #197219;
    color: yellow;
    border-radius: 15px;
    display: none;
}
.close{
    position: absolute;
   /* right: 10px;*/
    right: 3%;
    transition: all 200ms;
    font-size: 100%px;
    font-weight: bold;
    text-decoration: none;
    color: yellow;
}

#fileToLoad{
    position: absolute;
   /* top: 50px;
    left: 40px;
    */
    width: 70%;
    top:20%;
    left: 20%;
    z-index: 300;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;

}
#LoadButton{
    position: absolute;
   /* top: 100px;
    left: 100px;
    */
    top:50%;
    left: 30%;
    width: 30%;
    height: 20%;
    z-index: 300;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
   /* width: 80px;
    height: 30px;*/
    color: darkgreen;
    border-radius: 5px;
}
#SignIN {
    position: absolute;
    border-radius: 10px;
    border:solid rgba(86, 145, 255, 0.93);
    width: 80px;
    height: 35px;
    font-size: 16px;
    color: #ffffff;
    right: 10px;
    top:4px;
    cursor: pointer;
    background-color: rgba(86, 145, 255, 0.93);

}

#SignIN:hover{
    background-color: #0065d5;
    border:solid #0065d5;
}

#Signform{
    position: absolute;
   /* background-color: darkgreen;*/
    background-color: rgba(86, 145, 255, 0.93);
    height: 220px;
    width: 250px;
    z-index: 50;
    right: 10px;
    top:45px;
    border-radius: 7px;
    display: none;
}
#SignINform{
    margin:7px;
    color: #ffffff;
}
#login_dropdown_username, #wide_password{
    border-radius:5px ;
    height: 25px;
    width: 220px;
}
#submit{
    font-size: 13px;
   width: 80px;
    height: 30px;
    border-radius: 5px;
    color:#ffffff;
    /*background-color: rgba(86, 145, 255, 0.93);
    border:solid rgba(86, 145, 255, 0.93);*/
    background-color: darkgreen;
    border:solid darkgreen;
    cursor: pointer;
}
#submit:hover{
    color: yellow;
}
#forgetpass{

    cursor: pointer;
}

#logo{
    width: 300px ;
    height: 100px;
    position: fixed;
    top:45px;
    left:0px;
}
#secondFooter{
    position: fixed;
    background-color: #197219;
    width: 100%;
    height: 40px;
    z-index: 10;
    /*top:20%;*/
    top:150px;
    left: 0;

}

#Runbottun{
    position: static;
    cursor: pointer;
    left:.5%;
    top: 2px;
    z-index: 50;
    float: left;
}
#Runbottun:hover{
    width: 34px;
    height: 34px;
}

#resetbottun{
    position: static;
    cursor: pointer;
    left:.5%;
    top: 2px;
    margin-left: 10px;
    z-index: 50;
    float: left;
}
#resetbottun:hover{
    width: 34px;
    height: 34px;
}

#block{
    position: absolute;
   /* top:153px;*/
    left:100px;
    color: yellow;
    font-size: 20px;
    width: 80px;
    float: left;
}

#workspace{
    position: absolute;
   /* top:152px;*/
    left:200px;
    color: yellow;
    font-size: 20px;
    width: 100px;
    float: left;

}

#ip{
    position: absolute;
   /* top:153px;*/
    left: 400px;
    color: yellow;
    font-size: 20px;
    float: left;

}
#IPAddress{
    position: absolute;
   /* top:158px;*/
    left: 420px;
    float: left;
    top:7px;

}

#connect{
    position: absolute;
    border-radius: 10px;
    /*top: 153px;*/
    top:3px;
    left:600px;
    border:solid #e1dd1a;
    width: 150px;
    height: 33px;
    font-size: 16px;
    color: darkgreen;
    cursor: pointer;
    background-color: #e1dd1a;
    float: left;

}
#connect:hover{
    background-color:yellow;
    border:solid yellow;
}


#EquivalentCode{
    position: absolute;
    top:190px;
    right: 10px;
    text-align: left;
    color: darkgreen;
    font-size: 13px;
    display: none;
    z-index: 30;

}



#showcode {

    position: fixed;
    border-radius: 10px;
    border:solid #e1dd1a;
    width: 110px;
    height: 33px;
    font-size: 16px;
    color: darkgreen;
    right: 10px;
    top:153px;
    cursor: pointer;
    background-color: #e1dd1a;

}
#showcode:hover{
   background-color:yellow;
    border:solid yellow;
}

#blocklyDiv{
    position: absolute;
    width: 60%;
    height: 65%;
    top:190px;
    left:6%;
    z-index:9;

}

#copyright{
    position: fixed;
    bottom: 4px;
    right: 0px;
    color:#000000;
    font-size: 13.5px;
    z-index: 100;
}

#copyright2{
    position: fixed;
    bottom: 4px;
    right: 30px;
    color:#000000;
    font-size: 13.5px;
    z-index: 100;
    display: none;
}

@media screen and (max-width: 870px) {
    #showcode {
        left: 700px;
    }

    #workspace{
        display: none;
    }
    #block{
        display: none;
    }
    #ip{
        left: 60px;
    }
    #IPAddress{
        left: 85px;
    }
    #connect{
        left: 350px;

    }
    #logo{
        width: 30%;
        height: 20%;
    }


}

@media screen and (max-width: 810px){

    #showcode {
        position: fixed;
        top:5px;
        left: 200px;

    }

    #workspace{
        display: none;
    }
    #block{
        display: none;
    }
    #ip{
        left: 100px;
    }
    #IPAddress{
        left: 140px;

    }
    #connect{
        left: 400px;

    }
   /* #logo{
       width: 266px;
    }*/
    #copyright{
        display: none;
    }
    #copyright2{
        display: initial;
    }



}

@media screen and (max-width: 550px){

    #SignIN{
        width: 20%;
        height: 80%;
        font-size: 13px;
        top: 5px;
    }
    #Runbottun{
        position: fixed;
        top: 7px;
        left: 20%;
        width: 10%;
        height: 6%;
    }
    #showcode {
       position: fixed;
        top: 6px;
        left: 40%;
        width:30%;
        height: 8%;
        font-size: 13px;
    }

    #workspace{
        display: none;
    }
    #block{
        display: none;
    }
    #ip{
        left: 3%;
    }
    #IPAddress{
        left: 10%;
        width: 120px;
    }
    #connect{
        left: 60%;
        width:100px;
    }
  /*  #logo{
        width: 266px;
    }*/


    #loadPopUp{
        top: 25%;
        left: 15%;
        width: 200px;
        height: 130px;
    }
    #secondFooter{
        top: 120px;
    }
    #blocklyDiv{
        top:160px;
    }

    #EquivalentCode{
        top:160px;
    }

}
/*-------------------------------
Supersized

-------------------------------*/
/*#supersized-loader { position:absolute; top:50%; left:50%; z-index:10; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background-color:#111; background:rgba(0,0,0,0.8)  no-repeat center center; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
/*#supersized-loader { position:absolute; top:50%; left:50%; z-index:10; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background-color:#111; background:rgba(0,0,0,0.8)  no-repeat center center; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:0; height:100%; width:100%; }*/
/*#supersized img{ height:100%; width:100%; position:relative; outline:none; border:none; -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }*/